html{
    min-height:100%;
    position:relative;
}

body{
background-color: #999999;
 margin: 0 auto 400px;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 height: 100%;
}

h1, h2, h3{
    color: #FF3333;
}

/*
.backimg{
width: 100%;
height: 100%;
background-image: url('popcorn.png');
background-repeat: repeat;
overflow:hidden;
z-index:-1;
position: fixed;
top: 0;
}*/


.content{
    padding-left:50px;
    z-index:9;
    background-color: #999999;
    margin: 0 100px;
    top: 0;
   /* position: absolute;*/
    width: 80%;
}

.content form{
    margin: 0;
    padding: 0;
}

#insertbox{
    font-style: normal;
    width: 60%;
}

textarea{
    width: 80%;
    /*min-height: 100px;*/

}

#srccode{
    min-height: 300px;
}

#inputcode{
    min-height: 100px;
}

/*#googledoc{
    height: 800px;
    width:660px;
}*/

iframe{
    width: 100%;
    max-width:100%;
    height: 1200px;
    min-height: 100%;
}

/*Styling for DataVis*/
.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.bardata {
    display: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 80%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
/*End Styling for DataVis*/
