html{
    min-height:100%;
    position:relative;
}

body{
background-color: #999999; 
 margin: 0 auto;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 height: 100%;
}

h1, h2, h3{
    color: #FF3333;
    padding-left:20px;
}

/*.sidebar{
width: 100px;
height: 100%;
background-image: url('popcorn.png');
background-repeat: repeat-y;
overflow:hidden;
z-index:-1;
}*/

#left{
    float: left;
    width: 100px;
    height: 100%;
    background-image: url('popcorn.png');
    background-attachment:fixed;    
    background-repeat: repeat-y;   
}

#right{
    float: right;
    width: 100px;
    height: 100%;
    background-image: url('popcorn2.png');
    background-attachment:fixed;   
    background-repeat: repeat-y;
}


.content h1, h2, input{
    width: 50%;
    margin: 0 50px;    
}

.content #movielist table{
    padding-left:50px;
}

.content{
    padding-left:50px;
}

.content form{
    margin: 0;
    padding: 0;    
}