html{
    min-height:100%;
    position:relative;
}

body{
background-color: #999999; 
 margin: 0 auto;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 height: 100%;
}

h1, h2, h3{
    color: #FF3333;
    padding-left:20px;
}

.sidebar
{
width: 100px;
/*height: 100vh;*/
top: 0;
bottom: 0;
background-image: url('popcorn.png');
background-repeat: repeat-y;
z-index:-1;
}

#left{
    float: left;
}

#right{
    float: right;
}


.content h1, h2, input{
    width: 50%;
    margin: 0 50px;    
}

.content #movielist table{
    padding-left:50px;
}

.content{
    padding-left:50px;
}

.content form{
    margin: 0;
    padding: 0;    
}